:root{
  --my-hcolor:#333333;
}
body{
  font-family: Georgia,'游明朝',YuMincho,'Hiragino Mincho Pron';
  font-size: 16px;
  color: #807B91;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
/*===================================
   header
===================================*/
header{
  h1{ 
    margin: 20px 0  0 20px;
    color: var(--my-hcolor);
  }
  p{
    margin-left: 20px;
    margin-top: 0;
    font-size: 13px;
    color: #807B91;
  }
 
  
  .humberger{
    width: 40px;
    height: auto;
    position: fixed;
    top: 10px;
    right: 10px;
   
    span{      
      display: block;
      content: '';
      margin-top: 6.5px ;
      width: 70%;
      height: 1px;
      border: solid 0.7px var(--my-hcolor);
      background: var(--my-hcolor);
      transition: transform 0.5s,opacity 0.5s ;

    }
  }
  
//ハンバーガーの棒
  .show{
    .top{
        transform: translateY(9px) rotate(45deg);
    }
    .middle{
     opacity: 0;
    }
    .bottom{
      transform: translateY(-9px) rotate(-45deg);
    }
  }

  nav{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 10;
    position: absolute;
    ul{
      padding-left: 0;
      li{
        padding: 25px 0;
        box-sizing: border-box;
        text-align: center;
        a{
          cursor: pointer;
          color: var(--my-hcolor);
          font-size: 20px;
          
        }
      }
    }
  }
}
.down_triangle{
 display: none;
}
//navメニュー開閉
.open{
  display: none;
}
/*=================================
     メイン画像
==================================*/
img{
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin-top: 30px;
}
.explain{
  margin: 40px 20px;
  font-size: 23px;
  color: #777;
  line-height: 1.8;
}

/*============================
    notice
=============================*/
.notice{
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  padding-bottom:25px;
  border-bottom: 1px solid #dddddd;
 .noticebox{
    margin: 0 auto;
    padding: 20px;
   h3{
     color: var(--my-hcolor);
     font-size: 23px;
   }
   p{
     line-height: 1.8;
     font-size: 16px;
   }
 }

 span{
   border: 1px solid #DDDDDD;
   padding: 10px 15px;
   margin-right: 5px;
   &:nth-child(1), &:nth-child(2), &:nth-child(3){
     display: none;
   }

 }
}
/*============================
    footer
=============================*/
footer{
  height: auto;
  width: 100%;
  .profile{
    margin: 30px;
    margin-bottom: 60px;
   .img_name_sns{
     display: flex;
    img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
    margin-top: 0;
    }
    .profile_content{
      padding-left: 15px;
      display: inline-block;
      p{
        font-weight: bold;
        color: var(--my-hcolor);
      }
      i{
        padding: 4px;
        font-size: 24px;
      }

    }
  }
    .profile_text{
      display: block;
      line-height: 1.7;
      color:#666;
      font-size: 90%;
    }
  }
  .footer_right{
    margin: 0 30px 60px 30px;
    font-size: 90%;
    .footer_right_h{
      margin-bottom: 60px;
      font-size: 12px;
      color: var(--my-hcolor);
    }
  }

  .recently{
    margin-left: 30px;
    font-size: 90%;
    font-size: 13px;
    h3{
      color: var(--my-hcolor);
      margin-bottom: 30px;
  font-size: 13px;
    }
    .recentbox{
      margin-bottom: 30px;
      a{
      color: #666;
      border-bottom: solid 1px #ddd;
    }
  }
  }

  .category{
    margin-left: 30px;
    color: var(--my-hcolor);
    margin-bottom: 30px;
    font-size: 13px;
    ul{
      padding-left: 0;
      li{
        padding: 10px 0;
    a{
      color: #666;
      border-bottom: solid 1px #ddd;
    }
      }
    }
  }
  .searchbox{
    border-bottom: solid 1px #ddd;
    padding: 20px;
    margin: 10px;
    input{
      border: solid 1px #ddd;
      width: 300px;
      padding: 5px;
    }
  }
  .sns{
    margin: 60px 20px 30px 30px;
    i{
      padding-right:15px;
      font-size: 24px;
    }
  }
  .copyright{
    font-size: 12px;
    margin-left: 30px;
  }
}
/*====================================
          メディアクエリ
====================================*/
@media screen and (min-width: 640px){
  .pagebox{
    span{

      &:nth-child(1), &:nth-child(2), &:nth-child(3){
        display: inline;
      }

  }
}
}
@media screen and (min-width: 783px){
  .open{
    display: block;
  }
  body{
    margin:60px 40px;
  }

  header{
   
   .header_title{
     h1{
       font-size: 35px;
       font-weight: 700;
       margin-left: 0;
     }
     p{
       font-size: 18px;
       padding-top: 8px;
       margin-left: 0;
       margin-bottom: 50px;
     }
   }
    .humberger{
      display: none;
    }
    #page{
      a{
        &:hover{
          color: #CFA450;
        }
      }
    }
    nav{
      width: 100%;
      height: 52px;
      position: relative;
      .nav_list{
        display: flex;
        flex-direction: row;
        height: 52px;
        li{
          display: inline-block;
          text-align-last: left;
          padding: 0;
          height: auto;
           width: 100px;
          &:nth-child(3){
            width: 150px;
          }
          a{
            font-size: 16px;

            .down_triangle{
              display: inline-block;
              padding-left: 10px;
              color: #666;
              font-size: 12px;
            }
          }
       ul{
         display: flex;
         flex-direction: column;
         padding: 0;
         margin: 0;
         width: 250px;
         .nav_list_item{
          display: none;
         }
         li{
          
          width: 250px;
          height: 80px;
          border: solid 1px #ddd;
          background-color: #fff;
          padding: 0;
          display: flex;
          align-items: center;
         a{
           display: inline-block;
           padding: 0 10px;
           &:hover{
             color:#CFA450;
           }
         }
          &:nth-child(1){
            margin-top: 20px;
          }
         }
         
       }
        }
      }
    }
    .header_form{

      padding: 5px;
      position: absolute;
      top: 0;
      right: 0;
      i{
       font-size: 18px;
     
      }
      input{
        border: solid 1px #ddd;
        border: none;
        display:none;
      }
    }
    .click_form{
      border: solid 1px #ddd;
      width: 220px;
      input{
        display: inline-block;
        width: 195px;
        padding: 0;
        &:focus{
          border-color: #fff;
         outline: 0;
        }
      }
    }
  }
  section{
  margin: 40px auto;
  display: block;
  width: auto;
    img{
      max-width: 100%;
      height: auto;
      display: block;
      margin:0 auto ;
    }
  }
  footer{
    font-size: 18px;
    .recently{
      font-size: 14px;
      h3{
        font-size: 16px;
      }
    }
    .category{
      font-size: 16px;
    }
    .copyright{
      font-size: 16px;
    }
  }
}
@media screen and (min-width:980px){
 header{
   display: flex;
   flex-direction: row;
   align-items: center;
   nav{
     margin-left: 70px;
   }
 }
.notice{
  margin-top: 60px;

 .noticebox{
   display: flex;
   flex-direction: row;
   padding: 0;
   .time{
     width: 250px;
     padding-top: 30px;
   }
   .noticebox_right{
     margin-bottom: 50px;
     width: 600px;
   }
 }
 .pagebox{
   margin: 50px 250px;
span{
  padding: 15px;
}
 }
}
.main_footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 1px #ddd;
  padding-bottom: 70px;
  margin: 30px 50px;
  .profile{
    margin: 0;
    width: 250px;
  }
  .footer_right{
    width: 200px;
  }
.recently{
width: 200px;
  
}

  .searchbox{
    border:none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    input{
      border: solid 1px #ddd;
      width: 150px;
      padding: 10px 5px;
    }
  }

}
    .footer_sub{
      position: relative;
      display: flex;
      flex-direction: row;
     .copyright{
       position: absolute;
       top: 50%;
       right: 35%;
       
     }
    }
}